<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>トップページ</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'myapp/styles.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <h1 class="cute-title">都ップる</h1>
    </header>
    <main>
        <div class="button-container">
            <button id="signupButton">診断</button>
            <button id="loginButton">マッチング</button>
        </div>
    </main>
    <script src="{% static 'myapp/scripts.js' %}"></script>
</body>
</html>
